<%= form_with model: [ @articulo, @articulo.comentarios.build ] do |form| %>
    <p>
      <%= form.label :Título %><br>
      <%= form.text_field :titulo %>
    </p>
    <p>
      <%= form.label :Comentario %><br>
      <%= form.text_area :cuerpo %>
    </p>
    <p>
      <%= form.submit %>
    </p>
<% end %>